
//
// ANIMATIONS
//

@keyframes ani-text {
    0% {
        color: #000;
    }
    25% {
        color: #9E44C7;
    }
    50% {
        color: #F74740;
    }
    75% {
        color: #F9AC51;
    }
    100% {
        color: #000;
    }
}